body{
	font-family: arial;
	font-size:15px;
	background-color:rgb(80,80,80);
}

main{
	width:900px;
	height:1650px;
	margin-left: auto;
	margin-right: auto;
	margin-top:15px;
	margin-bottom:30px;
	padding:10px;
	padding-bottom:30px;
	background-color: rgb(210,210,210);
	border-radius:10px;
}

header{
	width:900px;
	height: 75px;
	margin: 0 0 10px 0;
	border-bottom-style: solid;
	border-bottom-width: medium;
}

header section{
	float:left;
	width:300px;
}

header p {
	margin:10px;
}

.headCenter{
	text-align:center;
}

.headRight{
	text-align:right;

}

.aboutme{
	height:400px;
	margin:auto;
}

.aboutme figure {
	width:auto;
	height:100%;
	margin:0 0 0 5px;
	float:left;
}

.aboutme figurecaption {
	width:455px;
	height:100%;
	padding:0 0 0 15px;
	margin:0 0 0 15px;
	float:left;
}

h3{
	text-align: center;
	border-top-style: solid;
	border-top-width: medium;
	border-bottom-style: solid;
	border-bottom-width: medium;
	padding:5px 0 5px 0;
	margin:15px 0 15px 0;
}

.job {
	height:auto;
	width:auto;
}

.job header{
	height:75px;
	background-color: rgb(195,195,195);
	border-top-style: solid;
	border-top-width: thin;
	border-bottom-style: none;
}

.job2 header{
	height:115px;
	background-color: rgb(195,195,195);
	border-top-style: solid;
	border-top-width: thin;
	border-bottom-style: none;
}

h4{
	height: auto;
	margin:15px 0 0 15px;
	padding:0 0 0 15px;
}

.job section:nth-child(odd), .job2 section:nth-child(odd){
	padding-left: 45px;
	font-style:italic;
	width:auto;

}
	
.job section:nth-child(even), .job2 section:nth-child(even){
	text-align: right;
	float:right;
	width:auto;
}

.edu *{
	margin-left:15px;
}
	

